.about-us {
    &__title {
        color: #c8972c;
        font-size: 36px;
        font-weight: 700;
        line-height: 36px;
        text-transform: uppercase;
    }

    &__word {
        display: block;
        margin-left: 22px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 400;
        line-height: 39px;
        text-transform: none;
    }

    &__text {
        margin-top: 24px;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;

        &--desktop {
            display: none;
        }
    }
}

@media (min-width: 1250px) {
    .about-us {
        &__title {
            margin-top: 86px;
            font-size: 40px;
            line-height: 50px;
        }
    
        &__word {
            margin-left: 22px;
            font-size: 28px;
            line-height: 28px;
        }
    
        &__text {
            width: 530px;
            margin-top: 38px;

            &--desktop {
                display: block;
            }

            &--mobile {
                display: none;
            }
        }
    }
}