.about-us {
    &__title {
        color: #c8972c;
        font-size: 36px;
        font-weight: 700;
        line-height: 54px;
        text-transform: uppercase;
    }

    &__word {
        display: block;
        margin-left: 22px;
        color: #ffffff;
        font-size: 26px;
        font-weight: 400;
        line-height: 39px;
        text-transform: none;
    }

    &__text {
        margin-top: 24px;
        padding-right: 17px;
        color: #ffffff;
        font-size: 14px;
        line-height: 22px;
    }
}