.contact {
    min-height: 745px;
    padding-top: 40px;
    padding-bottom: 38px;
    background-color: #f6f6f6;

    &__title {
        color: #1f2d3a;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
    }

    &__text {
        color: #8095a4;
        font-size: 14px;
        line-height: 22px;

        &--first-line {
            margin-top: 18px;
            margin-bottom: 5px;
        }
    }

    &__divider {
        width: 42px;
        height: 1px;
        margin-top: 22px;
        border-bottom: 0.5px solid #8095a4;
    }

    &__address {
        margin-top: 8px;
        color: #8095a4;
        font-size: 14px;
        line-height: 22px;
    }
    
    &__email {
        display: block;
        margin-top: 6px;
        color: #082030;
        font-size: 14px;
        line-height: 22px;
        text-decoration: underline;
    }

    &__phone {
        display: block;
        margin-top: 4px;
        color: #8095a4;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (min-width: 1250px) {
    .contact {
        min-height: 222px;
        padding-top: 45px;
        padding-bottom: 36px;

        &__wrapper {
            display: flex;
            gap: 158px;
        }

        &__flex-wrapper {
            width: 468px;
        }
    
        &__title {
            font-size: 32px;
            line-height: 48px;
        }
    
        &__text {
            &--first-line {
                margin-top: 20px;
            }
        }
    
        &__divider {
            margin-top: 24px;
        }
        
        &__email {
            display: inline-block;
            margin-top: 4px;
        }
    
        &__phone {
            display: inline-block;
            margin-top: 4px;
            margin-left: 14px;
        }
    }
}