.form {
    margin-top: 30px;

     &__input {
        display: block;
        margin-top: 14px;
        width: 100%;
        padding: 10px 0;
        color: #878787;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #c4c4c4;

        &--textarea {
            margin-top: 10px;
            resize: none;
        }
        &:focus {
            outline: 2px solid #c4c4c4;
            border-bottom: none;
        }
     }

     &__label {
        display: block;
        margin-top: 24px;
        color: #878787;
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
     }

     &__button {
        display: block;
        width: 280px;
        height: 60px;
        margin: 43px auto 0;
        border: none;
        border-radius: 45px;
        background-image: linear-gradient(223.08deg, #FFC953 6.11%, #C8972C 97.63%);
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 60px;
        text-transform: uppercase;
     }
}