.join-us {
    margin-top: 40px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__title {
        color: #c8972c;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
        text-transform: uppercase;
    }

    &__link {
        color: #ffffff;
        font-size: 12px;
        line-height: 19px;
    }

    &__vacancy-list {
        margin-top: 18px;
    }

    &__vacancy-item {
        padding: 15px 0 12px;
        border-top: 1px solid #415867;
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3px;
        margin-left: 40px;
    }

    &__vacancy-title {
        position: relative;
        width: calc(100% - 90px);
        margin-left: 40px;
        color: #ffffff;
        font-size: 22px;
        font-weight: 400;
        line-height: 28px;

        &::before {
            display: inline-block;
            position: absolute;
            content: attr(data-attr);
            top: 2px;
            left: -40px;
            color: #415867;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        &::after {
            display: inline-block;
            position: absolute;
            content: "";
            width: 9px;
            height: 29px;
            top: -9px;
            left: -13px;
            background-image: url("../../img/slash.svg");
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background-color: #415867;

        &:hover {
            background-color: #ffffff;
        }
    }

    &__middle-wrapper {
        margin: 13px 0 20px 40px;
    }

    &__vacancy-text {
        color: #8095a4;
        font-size: 14px;
        line-height: 22px;
    }

    &__ellipsis {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20px;
        margin-top: 14px;
    }

    &__dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #c4c4c4;
    }

    &__more-link {
        color: #ffffff;
        font-size: 12px;
        line-height: 21px;
    }
}

@media (min-width: 1250px) {
    .join-us {
        width: 419px;
        margin: 0;
    
        &__vacancy-item {
            padding: 22px 0 16px;
        }

        &__top-wrapper {
            align-items: flex-start;
        }
    
        &__bottom-wrapper {
            align-items: flex-end;
            margin-top: 0;
            margin-left: 65px;
        }
    
        &__vacancy-title {
            margin-left: 65px;
            line-height: 26px;
    
            &::before {
                left: -60px;
                font-size: 20px;
                line-height: 24px;
            }
    
            &::after {
                width: 11px;
                height: 35px;
                left: -33px;
                background-image: url("../../img/slash-desktop.svg");
            }
        }
    
        &__button {
            width: 35px;
            height: 35px;
        }
    
        &__middle-wrapper {
            margin: 0 0 20px 65px;
        }
    
        &__vacancy-text {
            width: 340px;
            margin-top: 15px;
            line-height: 22px;
        }
    }
}