@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
      url("../fonts/inter400.woff2") format("woff2"),
      url("../fonts/inter400.woff") format("woff");
  }
  
@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        url("../fonts/inter500.woff2") format("woff2"),
        url("../fonts/inter500.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        url("../fonts/inter600.woff2") format("woff2"),
        url("../fonts/inter600.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        url("../fonts/inter700.woff2") format("woff2"),
        url("../fonts/inter700.woff") format("woff");
}